
body {
  background-color:rgba(96, 128, 0, 0.233);
  font-family: "Maven Pro", sans-serif;
  padding-top: 10px;
}

.full-screen {
  padding: 50px;
}

.navbar{
  display: flex;
    justify-content:space-between;
    align-items:center;
}

.logo-text{
  font-size:50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bolder;
}

.nav-items{
  display:flex;
  position: relative;
  gap:2rem;
  padding: 0 , 10em;
  font-size: 18px;
  text-align: right;
  grid-auto-columns: max-content;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 

.mypic{
  width: 80%;
  border-radius: 50%;
  height: 50%;
  margin: 5px;
  block-size: 160px;
}

.undraw{
  block-size: 400px;
  margin-left: 30%;
}

.small-text {
  color: #5b5b5b;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 50px;
  letter-spacing: 0.2px;
}

.project-info img{
  width: 600px;
  position: relative;
  background-color: #d2b864;
  margin: 3px;
  padding: 7px;
  margin-left: 25%;
}

.whats-next p{
  background-color: #c7c3e892;
}

a {
  font-weight: normal;
  text-decoration: none !important;
  transition: all 0.4s ease;
}
a:hover {
  color: #ffc200 !important;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 20px;
  color: #5b5b5b;
}

h1, h2, h3{
  font-weight: bold;
  letter-spacing: -1px;
}

h1 {
  color: #212121;
  font-size: 2.8em;
  margin: 25px;
}

h2 {
  color: #353535;
  font-size: 2.4em;
  text-align: center;
  font-weight: bold;
  background-color: #ffc4008a;
  margin: 4px;
  padding: 2px;
  
}

h3 {
  color: #5c3232;
}


b, strong {
  font-weight: bold;
}

li{
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.animated {
  position: relative;
}

.animated-info {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  min-width: 260px;
  position: relative;
  color: #ffc200;
}

.animated-item {
  font-size: 38px;
  line-height: inherit;
  display: block;
  overflow: hidden;
  position: absolute;
  animation: BottomTotop 4s linear infinite 0s;
}
.animated-item:nth-child(2n+2) {
  animation-delay: 2s;
}
.animated-item:nth-child(3n+3) {
  animation-delay: 4s;
}

@keyframes BottomTotop {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateY(5px);
  }
  10% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 1;
    transform: translateY(0px);
  }
  30% {
    opacity: 0;
    transform: translateY(5px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.copyright-text {
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: block;
}

.timeline-wrapper {
  position: relative;
  padding: 22px 0;
}
.timeline-wrapper:last-child:before {
  height: 0;
}
.timeline-wrapper:before {
  background: #474559;
  width: 3px;
  height: 100%;
  position: absolute;
  left: 38px;
}

.timeline-yr {
  background: #594ae6;
  border-radius: 100%;
  position: absolute;
  width: 75px;
  height: 75px;
  line-height: 75px;
  text-align: center;
}
.timeline-yr span {
  color: #f2f4f2;
  font-size: 16px;
  font-weight: bold;
  display: block;
  line-height: 75px;
}

.timeline-info {
  display: inline-block;
  vertical-align: top;
  max-width: 432px;
  margin-left: 6em;
}
.timeline-info small {
  color: #81cb36;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.sliding-window {
  width: 500px; 
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slider {
  display: flex;
  transition: transform 2s ease; 
}


.slider img {
  width: 100%;
  height: auto;
  object-fit:contain;
}

.slider:hover {
  animation: slide 8s linear infinite; 
}

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.project3{
  margin-left: 500px;
  font-size: 40px;
}

.contact-form {
  background-color:rgba(14, 185, 182, 0.146);
  padding-top: 10px;
}

.contact-form .form-control {
  text-align: center;
  align-content: center;
  background: transparent;
  border-radius: 2px;
  font-weight: bold;
  margin: 16px 0;
}

.contact-form .form-control:not(textarea) {
  height: 48px;
}

.contact-form .submit-btn {
  background: #ffc200;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.contact-info {
  background: rgba(174, 163, 41, 0.466);
  border-radius:3px;
  padding: 5px;
}
.talk-resume{
  display:inline-block;
  padding: 20px;
  margin-left: 250px;
}

.icon-wrapper{
  gap:1rem;
  display: flex;
}

.icon-wrapper img {
  width: 40px;
  border: #5b5b5b solid;
}

.copyright-text{
  text-align: center;
}